.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0 5%;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    padding: 0px 10px;
    transition: transform .2s;
}

.menu:hover
{
    color: gray;
    transform: scale(0.95);
}

.menuIcon {
    display: none;
}

.name:active {
    color: gray;
}

@media (max-width: 600px) {
    .links {
      display: none;
    }

    .menuIcon {
        display: block;
    }
    
  }